.project-list {
  background-color: beige;
  display: flex;
  justify-content: space-around;
  // gap: 20px;
  flex-wrap: wrap;
  gap: 5%;
  height: auto;
  margin: 0 5%;
  margin-top: 38%;
}
