.brochure_box {
  height: 502px;
  padding-top: 100px;
  background: rgba(103, 80, 164, 0.08);
  display: flex;
  flex-direction: column;
}
.key-points {
  display: flex;
  justify-content: space-between;
  padding: 0 192px;
  height: 74px;
}
.item {
  display: flex;
  gap: 32px;
  width: 168px;
  align-items: center;
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
  /* or 185% */

  text-align: center;

  color: #242424;
}
.one-liner {
  // background-color: aqua;
  margin-top: 100px;
  text-align: center;
  font-family: "Quantico";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: #191919;
}
.button-box {
  margin-top: 72px;
  // background-color: green;
  display: flex;
  gap: 36px;
  justify-content: center;
}
.button-box button {
  width: 212px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: 2px solid #6750a4;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.1px;
}
#button1 {
  background-color: #6750a4;
  color: white;
}
#button2 {
  color: #6750a4;
}
