.team {
  //   background-color: beige;
  margin-bottom: 100px;
  background-image: url("../../../public/team_bg.svg");
  // background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
  padding: 0 88px;
  // border: 2px solid black;
  padding-top: 50%;
}
@media only screen and (max-width: 1200px) {
  .team {
    background-size: contain;
  }
}
@media only screen and (min-width: 1200px) {
  .team {
    background-size: cover;
  }
}
