.contact {
  margin-top: 140px;
  padding-top: 520px;
  display: flex;
  flex-direction: column;
  background-image: url("../../../public/contact_bg.svg");
  align-self: center;
  // border: 2px solid black;
  // background-position: center;
  // background-color: green;
  background-position: -256px 0;
}
@media only screen and (max-width: 1200px) {
  .contact {
    // background-size: fill;
    // background-repeat: no-repeat;
    background-position: -400px 0;
  }
}

.contact-form {
  margin: 0 10%;
  margin-bottom: 80px;
  padding: 0 auto;
  background: #f8f7fb;
  border-radius: 5px;
}
