.about_container {
  height: 472px;
  display: flex;
  background: rgba(103, 80, 164, 0.08);
}
.logo {
  align-self: center;
}

.about_heading {
  padding-top: 100px;
  list-style: none;
  // background-color: aqua;
  padding-left: 280px;
}

li {
  padding-left: 10px;
  display: inline-block;

  font-family: "Quantico";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.02em;
  //   background-color: aqua;
}

.heading_1,
.heading_3 {
  color: #191919;
}

.heading_2 {
  color: #6750a4;
}

.about_text {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  // background-color: green;
  margin-top: 48px;
  margin-right: 260px;
  padding-left: 12px;
  /* or 160% */

  display: flex;
  align-items: center;
  text-align: center;
  color: #212121;
}

.about_bg {
  background: rgba(103, 80, 164, 0.08);
  opacity: 0.6;
}
