.carousel {
  margin-top: 80px;
  height: 820px;
  // background-color: aquamarine;
  padding-top: 48px;
}
.banner {
  display: flex;
  justify-content: center;
  // background-color: beige;
}
.banner img {
  margin: auto;
  // border: 2px solid black;
}
.carousel h2 {
  font-family: "Quantico";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-top: 68px;
  color: #191919;
}
.carousel h3 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* identical to box height, or 160% */
  text-align: center;

  color: rgba(33, 33, 33, 0.8);
}
