.area_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  padding-left: 178px;
  padding-top: 120px;
  padding-bottom: 148px;
}
.heading {
  font-family: "Heebo";
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  /* identical to box height, or 132% */

  color: #6750a4;
}
.areas {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  /* or 183% */

  text-align: justify;
  letter-spacing: 0.1px;

  /* dark-navy */

  color: #000c2d;
}
