.project-description {
    margin: 0 30%;
    margin-top: 12px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .project-description-header {
    margin: 0 auto;
    // background-color: #6750a4;
    font-family: "Quantico";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #6750a4;
 
  }