.profile-card-box {
  height: 480px;
  width: 384px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: white;
}
.profile-card-description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: 12px 12px;
  height: 240px;
  // background-color: green;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.profile-pic img {
  height: 120px;
  width: 120px;
  margin-bottom: 8px;
  border-radius: 50%;
}
.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.dept-name {
  font-size: 16px;
  //   background-color: #6750a4;
  width: 100%;
  text-align: center;
  padding: 0 12px;
  margin-bottom: 8px;
}

.line {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: calc(100% - 24px);
  margin: 0 auto;
}

.contact-details {
  display: flex;
  flex-direction: column;
  // background-color: aqua;
  gap: 12px;
  justify-content: center;
  font-size: 16px;
}
.contact-details-item {
  display: flex;
  flex-direction: row;
  // background-color: yellow;
  gap: 10px;
  margin-left: 96px;
}

.view-profile {
  margin: auto 12px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #6750a4;
  border-radius: 4px;
  border-color: #6750a4;
}
@media only screen and (max-width: 720px) {
  .profile-card-box {
    height: 480px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: white;
  }
}
